<!-- app/views/movies/delete.html.erb -->
<h1>Supprimer le Film</h1>

<p>Êtes-vous sûr de vouloir supprimer ce film ?</p>

<%= link_to 'Confirmer la suppression', @movie, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-danger' %>
<%= link_to 'Annuler', movies_path, class: 'btn btn-secondary' %>
